{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
<title>Export</title>
{% endblock %}
{% block content %}
<div class="container jumbotron">
    <h3 style="color:Blue;"><center><u>{{msg}}</u></center></h3>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <br>
        <br>
        <center>
        <input value="Student Data" class="btn btn-info" onclick="location.href='{% url 'estudent_url' %}';">
        <input value="Course Data" class="btn btn-info" onclick="location.href='{% url 'ecourse_url' %}';">
        <input value="Batch Data" class="btn btn-info" onclick="location.href='{% url 'ebatch_url' %}';">
        <input value="Admissions Data" class="btn btn-info" onclick="location.href='{% url 'eadmission_url' %}';">
        </center>
        <br>
        <br>


        <center><input value="Return" class="btn btn-warning col-5" onclick="location.href='{% url 'home_url' %}';"></center>
    </form>
</div>
{% endblock %}