{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
<title>Students</title>
{% endblock %}
{% block content %}
<div class="container jumbotron">
    <h3 style="color:Blue;"><center><u>{{msg}}</u></center></h3>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <br><br>
        <label for="myname">name</label>
        <input size="60px" type="text" id="myname" name="myname" value="" autocomplete="off">
        <input type="submit" value="Filter" class="btn btn-info col-3">
        <input type="submit" value="Return" class="btn btn-warning col-3">
    </form>
</div>
{% endblock %}